ion-tab-button {
  color: #1B4242;
  background-color: #9EC8B9;
}

ion-tab-bar {
  background-color: #9EC8B9;
  border: none;
  padding-top: 0.5rem;
}

ion-icon {
  margin-top: 0 !important;
}

ion-label {
  margin-bottom: 0 !important;
}