<app-header [title]="'Neues Restaurant hinzufügen'"></app-header>
<form *ngIf="form" [formGroup]="form" ngxsForm="locations.addLocationForm" (ngSubmit)="locationFacade.addLocation()" [ngxsFormClearOnDestroy]="true">
    <div class="field">
      <label for="name" class="block">Name*</label>
      <input id="name" required type="text" pInputText formControlName="name" placeholder="Krone" />
    </div>
    <div class="field">
      <label for="address" class="block">Adresse</label>
      <textarea rows="2" id="address" pInputTextarea formControlName="address" placeholder="Musterstrasse 20, 8620 Wetzikon"></textarea>
    </div>
    <div class="field">
      <label for="logoUrl" class="block">Logourl</label>
      <input id="logoUrl" type="text" pInputText formControlName="logoUrl" placeholder="http://google.com" />
    </div>
    <div class="field">
      <label for="description" class="block">Beschreibung</label>
      <textarea rows="10" id="description" pInputTextarea formControlName="description" placeholder="Ich bin eine Kommentar"></textarea>
    </div>
</form>
<div class="actions actions__margin-top">
    <app-button label="Abbrechen" icon="plus" buttonStyle="outlined" (clicked)="navigateToList()"></app-button>
    <app-button label="Neues Restaurant speichern" [disabled]="form.invalid" icon="plus" buttonStyle="outlined" (clicked)="locationFacade.addLocation()"></app-button>
</div>
