<app-header [title]="'Tische zuweisen'"></app-header>
<p>Wähle ein Datum aus, um Zuweisungen vornehmen zu können.</p>
<div class="filters">
  <p-calendar [(ngModel)]="selectedDate" [showClear]="true" [defaultDate]="facade.selectedDate | async" [minDate]="minDate" dateFormat="dd.mm.yy" (onSelect)="onDateSelect($event)" (onClear)="onDateSelect(null)" [placeholder]="'Datum auswählen'"></p-calendar>
  <p-dropdown (onChange)="onAreaSelect($event)" (onClear)="facade.setSelectedArea(undefined)" [options]="areas | async"  [(ngModel)]="selectedArea"  optionLabel="name" optionValue="value" [showClear]="true" placeholder="Bereich auswählen"></p-dropdown>
  <ng-container *ngIf="(areaFacade.byId$(selectedArea) | async) && areaSlots.length > 0">
    <p-dropdown (onChange)="onAreaSlotSelect($event)" (onClear)="facade.setSelectedAreaSlot(undefined)" [options]="areaSlots"  [(ngModel)]="selectedAreaSlot"  optionLabel="name" optionValue="value" [showClear]="true" placeholder="Zeitbereich auswählen"></p-dropdown>
  </ng-container>
</div>
<div class="assigment-grid" *ngIf="(facade.selectedDate | async) && (facade.selectedArea | async) && (facade.selectedAreaSlot | async)">
  <div class="tables">
    <h3>Tische</h3>
    <div class="table-list">
      <div class="table-list-item"  [class.dragged]="tableIsSelected(table)" *ngFor="let table of tables$ | async" pDraggable (onDragStart)="onDragStart(table, 'table')" (onDragEnd)="onDragEnd('table')">
        <span><b>Nr. {{table.tableNumber}}</b> | Anzahl: {{ table.capacity }}</span>
      </div>
    </div>
  </div>
  <div class="droparea">
    <h3>Zuweisung</h3>
    <h4>Tisch(e)</h4>
    <div class="droparea-tables" pDroppable (onDrop)="onDrop('table')">Tisch(e) hierhin ziehen</div>
    <div class="table-list-item" *ngFor="let table of selectedTables">
      <span><b>Nr. {{table.tableNumber}}</b> | Anzahl: {{ table.capacity }}</span>
    </div>
    <h4>Reservation</h4>
    <div *ngIf="!selectedReservation" class="droparea-reservations" pDroppable (onDrop)="onDrop('reservation')">Reservation hierhin ziehen</div>
    <div class="reservation-list-item droparea-item" *ngIf="selectedReservation">
      <h4>{{ selectedReservation.name }}</h4>
      <span>Anzahl: {{ selectedReservation.count }} | Zeitpunkt: | {{ selectedReservation.phoneNumber }}</span>
    </div>
    <div class="buttons">
      <app-button label="Zuweisung speichern" [disabled]="!isAssigmentValid()" icon="plus" buttonStyle="outlined" (clicked)="onSave()"></app-button>
      <app-button label="Entwurf löschen" icon="plus" buttonStyle="outlined" (clicked)="onDiscard()"></app-button>
    </div>
  </div>
  <div class="reservations">
    <h3>Nicht zugewiesene Reservationen</h3>
    <div class="reservation-list">
      <div class="reservation-list-item" [class.dragged]="selectedReservation && selectedReservation.id === reservation.id" *ngFor="let reservation of reservations$ | async" pDraggable (onDragStart)="onDragStart(reservation, 'reservation')" (onDragEnd)="onDragEnd('reservation')">
        <h4>{{ reservation.name }}</h4>
        <span>Anzahl: {{ reservation.count }} | Zeitpunkt: | {{ reservation.phoneNumber }}</span>
      </div>
      <div class="reservation-list-item" *ngIf="(reservations$ | async).length === 0">
        <h4>Keine nicht zugewiesenen Reservationen mehr vorhanden</h4>
        <span>Erfasse Sie zuerst neue Reservationen.</span>
      </div>
    </div>
  </div>
</div>
