<app-header [title]="'Reservation bearbeiten'"></app-header>
<form *ngIf="form" [formGroup]="form" ngxsForm="reservations.editReservationForm" (ngSubmit)="reservationFacade.updateReservation(this.reservationId)" [ngxsFormClearOnDestroy]="true">
  <div class="field">
    <label for="name" class="block">Name*</label>
    <input id="name" required type="text" pInputText formControlName="name" placeholder="Familie Meier" />
  </div>
  <div class="field">
    <label for="count" class="block">Anzahl Personen*</label>
    <input id="count" required type="number" pInputText formControlName="count" placeholder="M1" />
  </div>
  <div class="field">
    <label for="bookingDate" class="block">Zeitpunkt*</label>
    <input id="bookingDate" required type="datetime-local" pInputText formControlName="bookingDate" />
  </div>
  <div class="field">
    <label for="phoneNumber" class="block">Telefonnummer*</label>
    <input id="phoneNumber" required type="tel" pInputText formControlName="phoneNumber" placeholder="0793235662" />
  </div>
  <div class="field">
    <label for="comments" class="block">Kommentare</label>
    <textarea rows="20" id="comments" pInputTextarea formControlName="comments" placeholder="z.B. Welches Menü?"></textarea>
  </div>
</form>
<div class="actions actions__margin-top">
    <app-button label="Abbrechen" icon="plus" buttonStyle="outlined" (clicked)="navigateToList()"></app-button>
    <app-button label="Reservation speichern" icon="plus" buttonStyle="outlined" (clicked)="reservationFacade.updateReservation(this.reservationId)"></app-button>
</div>
