<ion-header>
    <ion-toolbar>
        <ion-buttons slot="secondary" *ngIf="(facade.selectedArea | async) && (facade.selectedDate | async) && (facade.selectedAreaSlot | async)">
            <ion-button (click)="loadData()"><ion-icon slot="icon-only" name="refresh"></ion-icon></ion-button>
        </ion-buttons>
        <ion-title>Zuweisungen</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <p class="ion-padding-start"><b>Wähle ein Datum aus, um Zuweisungen vornehmen zu können.</b></p>
    <div class="filters">
        <ion-datetime-button datetime="selectedDateTableAssignment"></ion-datetime-button>
        <ion-popover [keepContentsMounted]="true" animated="false" >
            <ng-template>
                <ion-datetime id="selectedDateTableAssignment"
                              [(ngModel)]="selectedDate"
                              [showDefaultButtons]="true"
                              [min]="minDate"
                              (ionChange)="onDateSelect($event)"
                              presentation="date">

                </ion-datetime>
            </ng-template>
        </ion-popover>
        <ion-select class="area" aria-label="area" placeholder="Bereich auswählen" interface="popover" (ionChange)="onAreaSelect($event)">
            <ion-select-option *ngFor="let a of areas | async" [value]="a.value">{{a.name}}</ion-select-option>
        </ion-select>
        <ng-container *ngIf="(areaFacade.byId$(selectedArea) | async) && areaSlots.length > 0">
            <ion-select class="areaslots" *ngIf="facade.selectedArea | async" aria-label="areaslot" placeholder="Zeitbereich auswählen" interface="popover" (ionChange)="onAreaSlotSelect($event)">
                <ion-select-option *ngFor="let d of areaSlots" [value]="d.value">{{d.name}}</ion-select-option>
            </ion-select>
        </ng-container>
    </div>
    <ng-container *ngIf="(facade.selectedArea | async) && (facade.selectedDate | async) && (facade.selectedAreaSlot | async)">
        <div class="mobile-view">
            <div class="no-reservations" *ngIf="(reservations$ | async)?.length === 0; else view;">Keine nicht zugewiesen Reservationen vorhanden.</div>
            <ng-template #view>
                <h4>Tisch(e)</h4>
                <div class="droparea-tables" (click)="openTableSelectionModal()">Tisch(e) auswählen</div>
                <div class="table-list-item" *ngFor="let table of selectedTables">
                    <span><b>Nr. {{table.tableNumber}}</b> | Anzahl: {{ table.capacity }}</span>
                </div>
                <h4>Reservation</h4>
                <div *ngIf="!selectedReservation" (click)="openReservationSelectionModal()" class="droparea-reservations">Reservation auswählen</div>
                <div class="reservation-list-item droparea-item" *ngIf="selectedReservation">
                    <h4>{{ selectedReservation.name }}</h4>
                    <span>Anzahl: {{ selectedReservation.count }} | Zeitpunkt: {{selectedReservation.bookingDate | date: "short":"UTC"}} | {{ selectedReservation.phoneNumber }}</span>
                </div>
                <div class="buttons">
                    <ion-button class="button" [disabled]="!isAssigmentValid()" (click)="onSave()" fill="outline"><ion-icon slot="start" name="add"></ion-icon>Zuweisung speichern</ion-button>
                    <ion-button class="button" (click)="onDiscard()" fill="outline"><ion-icon slot="start" name="add"></ion-icon>Enwurf löschen</ion-button>
                </div>
            </ng-template>

        </div>
    </ng-container>
</ion-content>
