.delete-button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.list-button {
  --background: #5c8374;
  --color: white;
  height: 2rem;

  ion-icon {
    margin-left: 0.25rem;
  }
}

ion-searchbar {
  --background: grey;
  --color: white;
}

.filter-button {
  display: flex;
  margin-bottom: 0;
}

.datetime-button {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

ion-footer {
  border-top: 1px dotted grey;
}