.delete-button {
  margin-left: 0.5rem;
  --background: #5c8374;
}

.edit-button {
  --background: #5c8374;
}

ion-searchbar {
  --background: grey;
  --color: white;
}

.filter-button {
  display: flex;
  margin-bottom: 0;
}

.datetime-button {
  margin-bottom: 1rem;
  margin-top: 1rem;
}