.table-header {
  display: grid;
  grid-template-areas: "actions filters search";
  column-gap: 1rem;
}

.actions {
  grid-area: actions;
}

.filters {
  grid-area: filters;
}

.search {
  grid-area: search;
}

