<div class="location-selector-grid">
  <div class="logo">
    <img src="assets/logo.png"/>
  </div>
  <div class="header">
    <h1>TableGenius</h1>
    <span class="header-text">Wähle dein Restaurant aus, um in die Anwendung zu starten.</span>
  </div>
  <div class="locations">
    <div class="location-item location-item-hover" *ngFor="let location of facade.locations | async" (click)="onClick($event, location.id)">
      <div class="location-logo">
        <img src="assets/logo.png"/>
      </div>
      <div class="location-info">
        <div class="location-name">
          {{ location.name }}
        </div>
        <div class="location-address">
          {{ location.address }}
        </div>
      </div>
    </div>
    <div class="location-item" *ngIf="(facade.locations | async)?.length < 1">
      <div class="location-logo">
      </div>
      <div class="location-info">
        <div class="location-name">
          Du hast leider kein Zugriff auf ein Restaurant
        </div>
        <div class="location-address">
          Bitte melde dich bei deinem Administrator,<br/>
          sodass er dich erfassen kann.
        </div>
      </div>
    </div>
  </div>
</div>
