:host {
  width: 100%;
  display: block;
  padding: 1rem;
}

.logo {
  grid-area: logo;
  margin: auto;
  img {
    width: 15rem;
  }
}

.header {
  grid-area: header;
  text-align: center;
  margin-bottom: 2rem;
}

.header-text {
  margin-top: 1rem;
  display: block;
}

.locations {
  grid-area: locations;
}

.location-item {
  background-color: #9EC8B9;
  color: #092635;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 5rem 1fr;
  column-gap: 1rem;
  padding: 1rem;
  padding-bottom: 1.5rem;
  border-radius: 5px;
  grid-template-rows: auto;
  grid-template-areas:
    "location-logo location-name"
    "location-logo location-address"
    "location-logo location-address";
}

.location-item-hover {
  &:hover {
    background-color: #5C8374;
  }
}

.location-logo {
  grid-area: location-logo;

  img {
    width: 4rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
}

.location-address {
  grid-area: location-address;
}

.location-name {
  grid-area: location-name;
  font-size: 18pt;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.location-selector-grid {
  display: grid;
  margin-top: 5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". logo logo ."
    "header header header header"
    "locations locations locations locations"
}
