.footer {
  background-color: #1B4242;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 1rem;

  > p {
    margin: 0;
  }
}

.footer-container {
  background-color: #fff;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
