<app-header [title]="'Neuer Benutzer hinzufügen'"></app-header>
<form *ngIf="form" [formGroup]="form" ngxsForm="locations.addLocationAssignmentForm" (ngSubmit)="companyFacade.addLocationAssignment()" [ngxsFormClearOnDestroy]="true">
    <div class="field">
        <label for="mail" class="block">Name</label>
        <input id="mail" type="email" required pInputText formControlName="mail" placeholder="test@test.ch" />
    </div>
  <div class="field">
    <label for="locationId" class="block">Restaurant-ID</label>
    <input id="locationId" type="text" readonly required pInputText formControlName="locationId" />
  </div>
</form>
<div class="actions actions__margin-top">
    <app-button label="Abbrechen" icon="plus" buttonStyle="outlined" (clicked)="navigateToList()"></app-button>
    <app-button label="Neuer Benutzer hinzufügen" icon="plus" buttonStyle="outlined" (clicked)="companyFacade.addLocationAssignment()"></app-button>
</div>
