<app-header [title]="'Bereich bearbeiten'"></app-header>
<form *ngIf="form" [formGroup]="form" ngxsForm="areas.editAreaForm" (ngSubmit)="areaFacade.updateArea(this.areaId)" [ngxsFormClearOnDestroy]="true">
  <div class="field">
    <label for="name" class="block">Name des Bereichs*</label>
    <input id="name" required type="text" pInputText formControlName="name" placeholder="Vor dem Haus" />
  </div>
  <div class="field">
    <label for="blueprintUrl" class="block">Link zum Plan*</label>
    <input id="blueprintUrl" type="text" pInputText formControlName="blueprintUrl" placeholder="Link" />
  </div>
</form>
<div class="actions actions__margin-top">
    <app-button label="Abbrechen" icon="plus" buttonStyle="outlined" (clicked)="navigateToList()"></app-button>
    <app-button label="Bereich speichern" [disabled]="form.invalid" icon="plus" buttonStyle="outlined" (clicked)="areaFacade.updateArea(this.areaId)"></app-button>
</div>
