<ion-header>
    <ion-toolbar>
        <ion-title>Startseite</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="content">
        <div class="logo">
            <img src="assets/logo.png"/>
        </div>
    </div>
    <div class="content">
        <div class="header">
            <h1>TableGenius</h1>
            <p>Herzlichen willkommen in der Anwendung TableGenius.</p>
            <p *ngIf="location$ | async as location"><b>Aktuelles Restaurant<br/></b> {{location.name}}</p>
        </div>
    </div>
</ion-content>